<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="description" content="<%= htmlWebpackPlugin.options.config.description %>">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<title><%= htmlWebpackPlugin.options.config.title %></title>

	<style><%= compilation.assets['critical.css'].source() %></style><% htmlWebpackPlugin.files.css = [] %>
	<%= webpackConfig.mode === 'production' ? '<script>console.log(`%c Made By BluntAndSnakes %c Contact us at contact`+`@blunt.sh %c`,"font-family: Lato; background:#2d3e50 ; padding: 15px; margin: 30px 0; border-radius: 5px 0 0 5px;  font-size:18px; color: #fff","background:#21b99a ; padding: 15px; border-radius: 0 5px 5px 0; font-family: Lato; color: #fff; font-size:18px;","background:transparent")</script>' : '' %>
</head>
<body>
	<div class="page-loader">
		<div class="page-loader__loader"></div>
	</div>
	<div id="main"></div>

	<script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.config.google_analytics %>"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', '<%= htmlWebpackPlugin.options.config.google_analytics %>');
	</script>
</body>
</html>